<div class="control-group pref-telegram-verification">
  <label class='control-label'>{{i18n 'user.telegram_verification.title'}}</label>
  {{mount-widget widget='telegram-verification' model=model scheduleRerender='rerender'}}
  <div class='instructions'>{{i18n 'user.telegram_verification.info'}}</div>
</div>
